spacy
matplotlib
pandas
numpy
nltk
scikit-learn
gensim
dash
dash-bootstrap-components
plotly
wordcloud
seaborn
pymongo
requests
transformers
pyyaml
networkx
bertopic
python-dotenv
wheel
setuptools
certifi
charset-normalizer
colorama
idna
packaging
pyasn1
pyasn1-modules
rsa
urllib3
gunicorn
gevent
